:root {
  --rows: 1;
  --color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
main {
  display: grid;
  justify-content: center;
}
p,
label {
  color: white;
}
body {
  /* display: flex; */
  align-content: center;
  justify-content: center;
  height: 1vw;
  background: #4a4a4a;
  color: white;
}
h1 {
  font-size: 60px;
  text-align: center;
  padding: 40px 0;
}
.box {
  width: 480px;
  background-color: gray;
  height: 480px;
  display: grid;
  grid-template-columns: repeat(var(--rows), 1fr);
  border: 1px orange solid;
  box-shadow: 5px 11px 20px rgba(231, 120, 6, 0.2);
  margin: 40px 0;
}
.board {
  background-color: var(--color);
}
.board-hover {
  background-color: var(--color);
}
.number {
  display: grid;
  grid-auto-flow: column;
}
#rows,
.value {
  margin: 20px;
}
.colorselector {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 40px 0px;
  font-size: 20px;
}

.colorselector input {
  width: 100px;
  height: 100px;
  background-color: #4a4a4a;
  border: none;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.drawbuttons {
  display: flex;
}
.drawbuttons button {
  width: 50%;
  height: 40px;
}
